{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molecule</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Molecule information from Google App Engine</h1>
    <form method="POST" action="/">
        {% csrf_token %}
        <div class='form_control'>
            {{ compound_form }}
        </div>
        <button type="submit">Submit</button>
    </form>
    <h2>Compound information</h2>
    <h3>Smiles</h3>
    <p class="smiles-text">{{ smiles }}</p>
    <!-- <img src="{% static 'ArtemisStatueatLouvre.jpeg' %}" alt="Molecule Image" class="molecule-image"> -->
    <img id="ItemPreview" src="data:image/png;base64,{{ mol_img }}">
    <!-- <img id="ItemPreview" src="data:image/png,{{ mol_img }}"> -->
</body>
</html>