{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molecule</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Molecule information from Google App Engine</h1>
    <form method="GET" action="/">
        {% csrf_token %}
        <div class='form-control'>
            {{ compound_form }}
        </div>
        <button type="submit">Get compound info and save to DB</button>
    </form>
    <h3>Compound name</h3>
    <p class="compound-text">{{ compound_name }}</p>
    <h3>Smiles</h3>
    <p class="smiles-text">{{ smiles }}</p>
    <h3>Structure</h3>
    <img id="ItemPreview" src="data:image/png;base64,{{ mol_img }}">

    <!-- <form method="POST" action="/">
        {% csrf_token %}
        <div class='form_control'>
            {{ add_compound_form }}
        </div>
        <button type="submit">Save compound to DB</button>
    </form>     -->

</body>
</html>